.plans{
    margin-top: -6rem;
    padding:0 2rem;
    display: flex;
    flex-direction: column;
    gap:4rem;
    position: relative;
}
.plan-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    
}
.plan-card{
    margin-top:1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--caloryCard);
    padding:2rem;
    gap:2rem;
    color:white;
}

.plan-card:nth-child(2){
    background:linear-gradient(210.41deg,#fa5042 1.14%, #ffa379 100.75%);
    transform:scale(1.1);
}

.plan-card>.icon{
    height:2rem;
    width:2rem;
    color:orange;
    
}
.plan-card>p{
    font-weight: 600;
    font-size: 1rem;
}
.plan-card>h2{
    font-size: 2rem;
    font-weight: bold;
}

.plan-text{
    display: flex;
    align-items: center;
    gap:1rem;
    font-size: 1rem;
}
.plan-text>img{
    height: 1.5rem;
}


.plans-blur1{
    width:32rem;
    height: 23rem;
    top:6rem;
    left:0rem;
}
.plans-blur2{
    width:32rem;
    height: 23rem;
    top:10rem;
    right:0rem;
}